.main-container {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
}

.box {
    background-color: #444;
    color: #fff;
    padding: 20px;
    font-size: 150%;
}