@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: var(--background-color);
    transition: var(--theme-transition);
}

:root {
    /* neutrals */
    --black: black;
    --white: white;
    --off-white: rgb(245, 245, 245);
    --gray: #5b636b;
    --light-gray: rgb(128, 128, 128);

    /* reds */
    --brick-red: #a61e4d;

    /* blues */
    --slate-blue: rgb(32, 43, 53);
    --sky-blue: rgb(80, 156, 255);

    /* fonts */
    --bold: bold;
    --weight-400: 400;

    /* transition */
   --theme-transition: background-color .4s ease-in-out, color .8s ease-in-out;
}

body.light {
    /* body */
    --background-color: var(--white);

    /* titles, headers and text */
    --name-color: var(--black);
    --menu-color: var(--gray);
    --description-color: var(--gray);
    --font-weight: var(--bold);
    --hightlighted-menu-color: var(--brick-red);

    /* features */
    --border-color: var(--light-gray);
}

body.dark {
    /* body */
    --background-color: var(--slate-blue);

    /* titles, headers and text */
    --name-color: var(--sky-blue);
    --menu-color: var(--white);
    --description-color: var(--white);
    --font-weight: var(--weight-400);
    --hightlighted-menu-color: var(--sky-blue);

    /* features */
    --border-color: var(--off-white);
}

.App {
    margin-left: .5rem;
    margin-right: .5rem;
    /* border: 1px solid black; */
}

.nav-parent {
    position: sticky;
    top: 0;
    background-color: var(--background-color);
    border-bottom: 2px solid var(--border-color);
    padding-bottom: .5em;
    transition: var(--theme-transition);
  }

.navbar-wrapper {
    display: flex;
    justify-content: space-between;
}

.my-name {
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.25rem;
    font-weight: var(--font-weight);
    color: var(--name-color);
    transition: var(--theme-transition);
}

.menu-wrapper {
    display: flex;
    justify-content: space-between;
}

/* .menu-buttons {
    font-family: 'Share Tech Mono', monospace;
    font-size: 1rem;
    font-weight: var(--font-weight);
    color: var(--menu-color);
    border: none;
    background: none;
    margin-left: -.25rem;
    outline: none;
    cursor: pointer;
    transition: var(--theme-transition);
} */

.description {
    font-family: 'Roboto', sans-serif;
}

/* practice scroll styles */
.practice-scroll {
    margin-top: 1.5rem;
    height: 1000px;
    color: var(--description-color);
    font-family: 'Roboto', sans-serif;
    transition: var(--theme-transition);
}

.selected-section {
    font-family: 'Architects Daughter', cursive;
    color: var(--hightlighted-menu-color);
    transition: var(--theme-transition);
}