@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Euphoria+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: var(--background-color);
    transition: var(--theme-transition);
}

:root {
    /* neutrals */
    --black: black;
    --white: white;
    --gray: #495057;

    /* reds */
    --brick-red: #a61e4d;

    /* blues */
    --slate-blue: rgb(40, 40, 54);
    --sky-blue: rgb(34, 70, 230);

    /* transition */
   --theme-transition: background-color .4s ease-in-out, color .8s ease-in-out;
}

body.light {
    /* body */
    --background-color: var(--white);

    /* titles, headers and text */
    --name-color: var(--black);
    --hightlighted-menu-color: var(--brick-red);
    --menu-color: var(--gray);
    --description-color: var(--gray)
}

body.dark {
    /* body */
    --background-color: var(--slate-blue);

    /* titles, headers and text */
    --name-color: var(--white);
    --hightlighted-menu-color: var(--sky-blue);
    --menu-color: var(--white);
    --description-color: var(--white)
}

.navbar-wrapper {
 margin-left: 1rem;
}

.my-name {
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.25rem;
}

.menu-links {
    font-family: 'Euphoria Script', cursive;
}

.description {
    font-family: 'Roboto', sans-serif;
}

.main-container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 50% 50% 50% 50%;
    grid-gap: 20px;
    background-color: #fff;
    color: #444;
}

.box {
    background-color: #444;
    color: #fff;
    padding: 10px;
    font-size: 150%;
}