@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: var(--background-color);
    transition: var(--theme-transition);
}

:root {
    /* neutrals */
    --black: black;
    --white: white;
    --off-white: rgb(245, 245, 245);
    --gray: #5b636b;
    --medium-gray: #353846;
    --dark-gray: #1f2124;
    --light-gray: rgb(128, 128, 128);
    --lightest-gray:  rgb(185, 185, 185);

    /* reds */
    --brick-red: #da1e3d;
    --rose: rgb(192, 15, 77);
    --coral-red: rgba(255, 66, 66, 0.9);

    /* blues */
    --slate-blue: rgb(32, 43, 53);
    --sky-blue: rgb(80, 156, 255);
    --react-color: #61DBFB;

    /* fonts */
    --bold: bold;
    --weight-400: 400;

    /* transition */
   --theme-transition: background-color .4s ease-in-out, color .8s ease-in-out;

    /* shadows */
    --black-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    --light-shadow: 0 4px 8px 1px var(--black);
}

body.light {
    /* body */
    --background-color: var(--white);

    /* titles, headers and text */
    --name-color: var(--black);
    --menu-color: var(--gray);
    --description-color: var(--gray);
    --font-weight: var(--bold);
    --hightlighted-menu-color: var(--brick-red);

    /* features */
    --bottom-border-color: var(--light-gray);
    --picture-border-color: var(--gray);
    --github-color: var(--black);
    --card-border: var(--lightest-gray);
    --icon-color: var(--gray);

    /* image */
    --box-shadow: var(--black-shadow);
}

body.dark {
    /* body */
    --background-color: var(--dark-gray);

    /* titles, headers and text */
    --name-color: var(--coral-red);
    --menu-color: var(--lightest-gray);
    --description-color: var(--lightest-gray);
    --font-weight: var(--bold);
    --hightlighted-menu-color: var(--sky-blue);

    /* features */
    --bottom-border-color: var(--lightest-gray);
    --picture-border-color: var(--gray);
    --github-color: var(--off-white);
    --card-border: var(--gray);
    --icon-color: var(--lightest-gray);

    /* image */
    --box-shadow: var(--light-shadow);
}

.App {
    margin-left: 1rem;
    margin-right: 1rem;
    /* border: 1px solid black; */
}

/* buttons */
.see-more-button {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    background-color: var(--background-color);
    color: var(--description-color);
    border: solid 1px var(--card-border);
    border-radius: 5px;
    padding: .5rem;
    cursor: pointer;
    transition: background-color .4s ease-in-out, color .4s ease-in-out;
}

.see-more-button:hover {
    color: var(--white);
    background-color: var(--hightlighted-menu-color);
}

/* NavBar styles */
.nav-parent {
    position: sticky;
    top: 0;
    background-color: var(--background-color);
    border-bottom: 2px solid var(--bottom-border-color);
    padding-bottom: .5em;
    transition: var(--theme-transition);
    z-index: 1000;
  }

.navbar-wrapper {
    display: flex;
    justify-content: space-between;
}

.my-name {
    font-family: 'Share Tech Mono', monospace;
    /* margin-top: 1rem; */
    margin-bottom: 1rem;
    font-size: 1.15rem;
    font-weight: var(--font-weight);
    color: var(--name-color);
    transition: var(--theme-transition);
}

.menu-wrapper {
    display: flex;
    justify-content: space-between;
}

/* SelectBio styles */
.bio-menu-wrapper {
    margin-top: 2rem;
    margin-bottom: -1rem;
    display: flex;
}

.bio-menu {
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.15rem;
    color: var(--description-color);
    transition: var(--theme-transition);
    margin-right: 1rem;
    cursor: pointer;
}

.selected-bio {
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.15rem;
    font-weight: var(--bold);
    margin-right: 1rem;
    color: var(--hightlighted-menu-color);
    transition: var(--theme-transition);
    cursor: pointer;
}

.text {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: var(--description-color);
    transition: var(--theme-transition);
}


.section-title {
    margin-top: 4rem;
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.15rem;
    font-weight: var(--bold);
    color: var(--hightlighted-menu-color);
    transition: var(--theme-transition);
}

/* practice scroll styles */
.practice-scroll {
    margin-top: 1.5rem;
    height: 1000px;
    color: var(--description-color);
    font-family: 'Roboto', sans-serif;
    transition: var(--theme-transition);
}

.description {
    font-family: 'Roboto', sans-serif;
}

/* images */
.image-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.image {
    margin-top: 1rem;
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    z-index: -1;
    box-shadow: var(--box-shadow);
    transition: var(--theme-transition);
}

.gif {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    z-index: -1;
    box-shadow: var(--box-shadow);
    transition: var(--theme-transition);
}

/* skills grid */
.skill-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
}

.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: var(--font-weight);
    height: 80px;
    padding: 5px;
    transition: var(--theme-transition);
}

.skills-description {
    font-family: 'Roboto', sans-serif;
    font-size: .75rem;
    font-weight: lighter;
    color: var(--description-color);
    transition: var(--theme-transition);
}

.react-icon {
    fill: var(--react-color);
}

.github-icon {
    fill: var(--github-color);
    transition: fill .8s ease-in-out;
}

.github-wrapper:hover {
    fill: var(--icon-color);
    transition: fill .4s ease-in-out
}

/* projects */
.projects-container {
    display: flex;
    flex-direction: column;
}

.projects-card {
    margin-top: .5rem;
    margin-bottom: 1.5rem;
    border: solid 1px var(--card-border);
    border-radius: 5px;
    padding: 1rem;
    transition: var(--theme-transition);
}

.project-title {
    font-family: 'Roboto', sans-serif;
    font-weight: var(--font-weight);
    color: var(--name-color);
    margin-bottom: 0;
    margin-top: 0;
    transition: var(--theme-transition);
}

.project-image {
    width: 100%;
    object-fit: cover;
    z-index: -1;
    padding-bottom: 1rem;
    border-bottom: solid 1px var(--card-border);
    transition: var(--theme-transition);
}

.project-subtitle {
    font-family: 'Roboto', sans-serif;
    color: var(--description-color);
    border-bottom: solid 1px var(--card-border);
    padding-bottom: 1rem;
    transition: var(--theme-transition);
}

.project-description {
    font-family: 'Roboto', sans-serif;
    color: var(--description-color);
    transition: var(--theme-transition);
}

.project-icon-wrapper {
    display: flex;
    justify-content: flex-end;
}

.icons {
    margin-left: 1rem;
    width: 25px;
    cursor: pointer;
    transition: fill .8s ease-in-out;
}

.icon-link {
    fill: var(--icon-color);
    transition: fill .4s ease-in-out
}

.icon-link:hover{
    fill: var(--hightlighted-menu-color);
}

.link-text {
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
    font-size: .85rem;
    color: var(--description-color);
    transition: var(--theme-transition);
}

/* blogs */
.blogs-container {
    display: flex;
    flex-direction: column;
}

.blog-icon-wrapper {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px var(--card-border);
    margin-bottom: 1rem;
}

.blog-card {
    margin-top: .5rem;
    margin-bottom: 1.5rem;
    border: solid 1px var(--card-border);
    border-radius: 5px;
    padding: 1rem;
    transition: var(--theme-transition);
}

.blog-title {
    font-family: 'Roboto', sans-serif;
    font-weight: var(--font-weight);
    color: var(--name-color);
    transition: var(--theme-transition);
}

.icon-description {
    font-family: 'Roboto', sans-serif;
    color: var(--description-color);
    transition: var(--theme-transition);
    font-size: 1.25rem;
    margin-top: 3px;
    margin-bottom: 0;
    margin-left: 1rem;
}

.see-more-blogs {
    width: auto;
    display: flex;
    text-decoration: none;
}

.arrow-icon {
    margin-left: .5rem;
    margin-top: 12px;
    width: 25px;
    cursor: pointer;
    stroke:  var(--icon-color);
    stroke-width: .8;
    transition: fill .8s ease-in-out;
}

/* contact */
.contact-links {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: var(--description-color);
    transition: var(--theme-transition);  
}

.social-grid {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
}

.social-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: var(--font-weight);
    height: 50px;
    transition: var(--theme-transition);
}

.twitter-icon {
    fill: #3BA9EE;
}

.linkedIn-icon {
    fill: #0e76a8;
}