#darkMode {
    background: transparent url("../assets/images/sun.png") no-repeat center;
    background-size: 30px 30px;
    margin-top: .5rem;
    width: 40px;
    height: 40px;
    /* filter: grayscale(100%); */
    border: none;
    border-radius: 50%;
    transition: 0.3s ease-in-out, filter 0.3s ease-in-out;
  }
  
  #darkMode:hover,
  #darkMode:focus {
    filter: none;
    /* background-color: var(--light-purple); */
    cursor: pointer;
  }
  
  #darkMode.clicked {
    background: transparent url("../assets/images/moon.png") no-repeat center;
    background-size: 30px 30px;
    margin-top: .5rem;
    width: 40px;
    height: 40px;
    /* filter: none !important; */
    filter: grayscale(50%);
    /* filter: brightness(0) invert(1); */
    /* background-color: var(--sky-blue); */
    transition: 0.3s ease-in-out, filter 0.3s ease-in-out;
  }