#darkMode {
    background: transparent url("../assets/images/pineapple 10.png") no-repeat center;
    transform: rotate(10deg);
    background-size: 40px 40px;
    margin-top: .5rem;
    /* margin-right: -.5rem; */
    width: 40px;
    height: 40px;
    border: none;
    transition: 0.4s ease-in-out, filter 0.8s ease-in-out;
    outline: none;
  }
  
  #darkMode:hover,
  #darkMode:focus {
    filter: none;
    cursor: pointer;
  }
  
  #darkMode.clicked {
    background: transparent url("../assets/images/pina-colada.png") no-repeat center;
    transform: rotate(25deg);
    background-size: 40px  40px;
    margin-top: .5rem;
    /* margin-right: -.5rem; */
    width: 40px;
    height: 40px;
    transition: 0.4s ease-in-out, filter 0.8s ease-in-out;
    outline: none;
  }