@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

#menu-style {
    font-family: 'Share Tech Mono', monospace;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
    transition: color 0.1s, background-color 0.1s;
    font-size: 1rem;
    font-weight: var(--font-weight);
    color: var(--menu-color);
    border: none;
    background: none;
    outline: none;
    margin-left: -.4rem;
  }
  
  #menu-style:hover {
    color: var(--hightlighted-menu-color);
  }

  #menu-style:focus, #menu-style:active {
    color: var(--hightlighted-menu-color);
  }
  
  #menu-style::before {
    content: '';
    position: absolute;
    top: 125%;
    height: 5px;
    width: 91.5%;
    background-color: var(--hightlighted-menu-color);
    -webkit-transform-origin: center top;
            transform-origin: center top;
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    transition: color 0.1s, -webkit-transform 0.2s ease-out;
    transition: color 0.1s, transform 0.2s ease-out;
    transition: color 0.1s, transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
  }
  
  #menu-style:active::before {
    background-color: var(--hightlighted-menu-color);
  }
  
  #menu-style:hover::before,
  #menu-style:focus::before {
    -webkit-transform-origin: center top;
            transform-origin: center top;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }