/* queries going up in size */
@media only screen and (min-width: 700px) {
  .App {
    margin-left: 5%;
    margin-right: 5%;
  }

  .projects-container {
    margin: auto;
    width: 60%;
  }

  .blogs-container {
    margin: auto;
    width: 60%;
  }

  .skill-grid {
    margin: auto;
    width: 80%;
  }

  .social-grid {
    margin: auto;
    width: 70%;
  }

  .footer {
    margin-top: 185px;
  }
}

@media only screen and (min-width: 800px) {
  .App {
    margin-left: 10%;
    margin-right: 10%;
  }

  .projects-container {
    margin: auto;
    width: 65%;
  }

  .blogs-container {
    margin: auto;
    width: 65%;
  }

  .skill-grid {
    margin: auto;
    width: 85%;
  }

  .social-grid {
    margin: auto;
    width: 75%;
  }
}

@media only screen and (min-width: 1100px) {
  body {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%231f2124' fill-opacity='0.11'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
  }

  .App {
    margin-left: 20%;
    margin-right: 20%;
    background-color: var(--background-color);
    transition: var(--theme-transition);
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .projects-container {
    margin: auto;
    width: 70%;
  }

  .blogs-container {
    margin: auto;
    width: 70%;
  }

  .skill-grid {
    margin: auto;
    width: 90%;
  }

  .social-grid {
    margin: auto;
    width: 85%;
  }

  .see-more-button:hover {
    color: var(--white);
    background-color: var(--hightlighted-menu-color);
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  }

  .icons:hover {
    stroke: var(--hightlighted-menu-color);
    transition: stroke 0.2s ease-in-out;
  }

  .icon-link:hover {
    fill: var(--hightlighted-menu-color);
    transition: stroke 0.2s ease-in-out;
  }

  .arrow-icon:hover {
    stroke: var(--hightlighted-menu-color);
    transition: 0.2s ease-in-out;
  }

  .email-link:hover {
    font-weight: bold;
  }

  .at-symbol-link:hover {
    font-weight: bold;
  }

  .pdf-link:hover {
    font-weight: bold;
  }
}

@media only screen and (min-width: 1500px) {
  .App {
    margin-left: 25%;
    margin-right: 25%;
  }

  .my-name {
    font-size: 1.5rem;
  }

  .bio-menu {
    font-size: 1.25rem;
  }

  .selected-bio {
    font-size: 1.25rem;
  }

  .text {
    font-size: 1.25rem;
  }

  .projects-container {
    margin: auto;
    width: 70%;
  }

  .blogs-container {
    margin: auto;
    width: 70%;
  }

  .skill-grid {
    margin: auto;
    width: 90%;
  }

  .skills {
    height: 100px;
  }

  .skills-description {
    font-size: 0.8rem;
  }

  .video {
    width: 500px;
    height: 300px;
  }

  .image {
    width: 500px;
  }

  .image-text {
    width: 500px;
    font-size: 1rem;
  }

  .gif {
    width: 500px;
  }

  .section-title {
    font-size: 1.5rem;
  }

  .project-title {
    font-size: 1.25rem;
  }

  .project-subtitle {
    font-size: 1.25rem;
  }

  .blog-title {
    font-size: 1.25rem;
  }

  .email-link {
    font-size: 1.25rem;
  }

  .email-icon {
    width: 30px;
  }

  .at-symbol-link {
    font-size: 1.25rem;
  }

  .pdf-link {
    font-size: 1.25rem;
  }

  .resume-icon {
    width: 30px;
  }

  .footer {
    font-size: 1.25rem;
  }

  .project-description {
    font-size: 1.25rem;
  }
}
