/* queries going up in size */
@media only screen and (min-width: 700px) {
    .App {
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media only screen and (min-width: 800px) {
    .App {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media only screen and (min-width: 900px) {
    .App {
        margin-left: 20%;
        margin-right: 20%;
    }
}

@media only screen and (min-width: 1300px) {
    .App {
        margin-left: 33%;
        margin-right: 33%;
    }

    .projects-container {
        margin: auto;
        width: 70%;
    }

    .projects-wrapper {
        justify-content: center;
    }


    /* .blogs-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
    } */
}